.square{
    height: 100px;
    width: 100px;
    background-color: red;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.triangle{
    height: 0px;
    width: 0px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid blue;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.circle{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.pentagon{
    width: 200px; 
    height: 200px; 
    background-color: #3498db; 
    clip-path: polygon(
        50% 0%,       
        100% 38%,     
        82% 100%,     
        18% 100%,     
        0% 38%        
    );
    box-sizing: border-box;
}